- var page = {}
- var hostname = "" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        header: {
          logo: {
            alt: "Логотип",
            href: "#",
            text: "студия разработки<br> и продвижения сайтов"
          },
          call: {
            number: "+38 (097) 234-34-45",
            href: "tel:+380972343445"
          },
          heading: "КАК «ПРИГОТОВИТЬ» <span class=\"heading--span\">ОТЛИЧНЫЙ</span> САЙТ?"
        },
        content: {
          heading: "Ингредиенты:"
        },
        steps: {
          info: {
            content: [
              {
                img: {
                  src: "img/icons/icon1.png",
                  alt: "",
                  active: "img/icons/icon1active.png"
                },
                name: "",
                text: "Неплохая идея",
              },
              {
                img: {
                  src: "img/icons/icon2.png",
                  alt: "",
                  active: "img/icons/icon2active.png"
                },                
                name: "",
                text: "Хорошее исполнение",
              },
              {
                img: {
                  src: "img/icons/icon3.png",
                  alt: "",
                  active: "img/icons/icon3active.png"
                },
                name: "",
                text: "Отличный результат",
              }
            ]
          },
        }
      }, //- index
    }

        