.modal.modal--success.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        .modal__icon
      .modal__heading Спасибо за заявку!
      .modal__subheading Наш менеджер скоро с вами свяжется.
      .modal__btn(type='button', data-dismiss='modal', aria-hidden='true') Закрыть
